@using BookStoreDomain.Entities
@model IEnumerable <Book>

@{
    ViewBag.Title = "List";
}

<h2>Book List</h2>
@foreach (var b in Model) {





    <h3>@b.Title</h3>
 //       @b.Description
   // <h4>@b.Price.ToString()</h4>
}
